@font-face {
    font-family: "paperMono";
    src: url("assets/fonts/PaperMono-Regular.otf");
}

:root {
    --main-color: #FFDFC8;
    --main-linear-gradient: linear-gradient(to bottom right, #550E6C 0%, #DA8445 48%, #DA8445 61%, #550E6C 100%) 1;
    --main-font-bg: black;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--main-color);
    border-left: 30px solid;
    border-image: var(--main-linear-gradient);
    border-right: 30px solid;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.logoWrapper {
    background-color: #FF8F3D;
    border-radius: 10px;
    padding: 12px;
}

a {
    font-family: "paperMono";
    text-transform: uppercase;
    font-size: 20px;
}

.pod {
    width: 200px;
    height: 340px;
    border-radius: 152px 152px 52px 52px;
    background-color:  #444444;
    background-image: 
        linear-gradient(var(--accentLG) 0%, var(--mainLG) 46%, var(--secondaryLG) 100%),
        conic-gradient(from 180deg, var(--mainCG), var(--secondaryCG)); 
    border: 2px solid var(--borderColor);
    overflow: hidden;
    position: relative;
    transition: all 1500ms linear;

}

.pod::after {
    content: "";
    transform: rotate(var(--angle));
    background-image: radial-gradient(ellipse var(--ellipseMain) var(--ellipseSecond), var(--mainRG) var(--gradientMainNb), var(--secondaryRG) var(--gradientSecondNb));
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    right: -50%;
}

.off {
    transition: all 0.2s ease-in-out;
}

@keyframes opacityTest {
    from { 
        opacity: 0;
    }

    to { 
        opacity: 1;
    }

}

.podTest { 
    width: 190px;
    height: 300px;
    transform: translateY(-30px);
}

.podTranslate {
    transform: translateY(-30px);
}

.dialogue, .multipleChoiceInput, input {
    font-family: "paperMono";
    font-size: 15px;
    transition: transform 0.2s ease-in-out;
}

input, .multipleChoiceInput, .selectedAnswer, .removeBttn {
    background-color: var(--main-font-bg);
    padding: 10px;
    border-radius: 10px;
    color: #F9DAC3;
    text-align: center;
    outline: thin;
    animation: opacityTest 2000ms normal ease-in-out;
}

.selectedAnswer {
    background-color: #7b288e;
}

.theme_alt {
    background-color: #58116A;
    color: #FB9334;
}

.multipleChoiceInputWrapper {
    display: flex;
    gap: 10px;
}

@property --accentLG {
    syntax: '<color>';
    initial-value:#00000000; 
    inherits: true;
}

@property --mainLG {
    syntax: '<color>';
    initial-value: #ff6e9744;
    inherits: true;
}

@property --secondaryLG {
    syntax: '<color>';
    initial-value: #ffffff46;
    inherits: true; 
}

@property --mainRG {
    syntax: '<color>';
    initial-value: #00000000;
    inherits: true; 
}

@property --secondaryRG {
    syntax: '<color>';
    initial-value: rgba(255, 255, 255, 0);
    inherits: true; 
}

@property --mainCG {
    syntax: '<color>';
    initial-value: #212121;
    inherits: true; 
}

@property --borderColor {
    syntax: '<color>';
    initial-value: #7d7d7d75;
    inherits: true; 
}

@property --secondaryCG {
    syntax: '<color>';
    initial-value: #4d4d4d;
    inherits: true; 
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

@property --gradientSecondNb {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}

@property --gradientMainNb {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}

@property --ellipseMain {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}

@property --ellipseSecond {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: true;
}

@keyframes joining {
    30% {
        --angle: 60deg;
        --secondaryCG:rgba(202, 188, 188, 1);
        --secondaryRG: rgba(255, 255, 255, 0.2);

        --ellipseMain: 50%;
        --ellipseSecond: 60%;
    }

    50% {
        --angle: 60deg;
        --secondaryCG:rgba(202, 188, 188, 1);
        --secondaryRG: rgba(255, 255, 255, 0.26);
    }

    80% {
        --angle: 0deg;

        --accentLG:  rgba(0, 0, 0, 0);
        --mainLG:  rgba(255, 110, 151, 0.25);
        --secondaryLG: rgb(255, 255, 255, 0.8);

        --mainCG:rgba(251, 251, 251, 1);
        --secondaryCG:  rgba(152, 141, 141, 1);

        --mainRG: rgba(0, 0, 0, 0.1); 
        --secondaryRG: rgba(255, 255, 255, 0.1);

        --ellipseMain: 40%;
        --ellipseSecond: 50%;
    }
}

.joining {
    --accentLG:  rgba(0, 0, 0, 0);
    --mainLG:  rgba(255, 110, 151, 0.25);
    --secondaryLG: rgb(255, 255, 255, 0.8);

    --mainCG:rgba(251, 251, 251, 1);
    --secondaryCG:  rgba(152, 141, 141, 1);

    --mainRG: rgba(0, 0, 0, 0.1); 
    --secondaryRG: rgba(255, 255, 255, 0.1);

    --gradientMainNb: 0%;
    --gradientSecondNb: 60%;
    --ellipseMain: 40%;
    --ellipseSecond: 50%;
    
    --borderColor: #fbfbfbe0;
    transition: all 3000ms linear;
    border: 2px solid var(--borderColor);
    animation: joining 3000ms ease-in-out;
}

.presence {
    --accentLG: rgba(0, 0, 0, 0);
    --mainLG: rgba(255, 110, 151, 0.2);
    --secondaryLG: rgba(255, 255, 255, 0.2);

    --mainCG: rgb(255 143 61);
    --secondaryCG: rgb(228 115 33);

    --mainRG: rgb(0 0 0 / 20%);
    --secondaryRG: rgb(255 255 255 / 20%);
    --borderColor: rgba(255, 177, 120, 1);
    /* --gradientSecondNb: 60%;
    --ellipseMain: 80%;
    --ellipseSecond: 100%; */

    --gradientSecondNb: 26%;
    --ellipseMain: 90%;
    --ellipseSecond: 100%;
} 


@keyframes talking { 
    40% {
        border: 10px solid #FFD4B4;
        --ellipseMain: 40%;
        --ellipseSecond: 40%;
    } 
}
.talking {
    --accentLG: rgba(0, 0, 0, 0);
    --mainLG: rgba(255, 110, 151, 0.2);
    --secondaryLG: rgba(255, 255, 255, 0);

    --mainCG: rgb(255 143 61);
    --secondaryCG: rgb(228 115 33);

    --mainRG: rgba(0, 0, 0, 0); 
    --secondaryRG: rgba(255, 255, 255, 0.2);
    --borderColor: #FFDA78;
    --ellipseMain: 20%;
    --ellipseSecond: 15%;
    
    --gradientMainNb: 13%;
    --gradientSecondNb: 60%;
    transition: all 3000ms linear;
    animation: talking 3000ms infinite;
} 

@keyframes thinkingRight {
    30% {
        --angle: -60deg;
        --mainLG: rgba(255, 110, 151, 0.295);

        --mainRG: rgba(0, 0, 0, 0.349); 
        --secondaryRG: rgba(255, 255, 255, 0.075); 
        --mainCG: #FFB178;
        --secondaryCG: #E47321;

        --ellipseMain: 35%;
        --ellipseSecond: 30%;
        border: 2px solid #FFB178;
    }

    60%, 80%{
        --angle: 0deg;

        --accentLG: #00000000;
        --mainLG: rgba(255, 110, 151, 0.20);
        --secondaryLG: rgba(255, 255, 255, 0);
    
        --mainCG: #D0FF78;
        --secondaryCG: #7CE421;

        --mainRG: rgba(0, 0, 0, 0.185); 
        --secondaryRG: rgba(255, 255, 255, 0.253); 

        border: 2px solid #9CFF78;
        --ellipseMain: 50%;
        --ellipseSecond: 46%;
        opacity: 0.7;
    }

    100% {
        --accentLG: rgba(0, 0, 0, 0);
        --mainLG: rgba(255, 110, 151, 0.20);
        --secondaryLG: rgba(255, 255, 255, 0);
    
        --mainCG: #D0FF78;
        --secondaryCG: #7CE421;

        --mainRG: rgba(0, 0, 0, 0.185); 
        --secondaryRG: rgba(255, 255, 255, 0.253); 

        border: 2px solid #9CFF78;
        --ellipseMain: 50%;
        opacity: 1;
    }
}

.thinkingRight {
    --accentLG: rgba(0, 0, 0, 0);
    --mainLG: rgba(255, 110, 151, 0.20);
    --secondaryLG: rgba(255, 255, 255, 0);
    
    --mainCG: #FFA868;
    --secondaryCG: #FFBB89;

    --mainRG: rgba(0, 0, 0, 0.20); 
    --secondaryRG: rgb(255, 255, 255, 0.20); 
    --borderColor: #FFB178;
    --ellipseMain: 50%;
    --ellipseSecond: 46%;
    --gradientSecondNb: 60%;

    animation: thinkingRight ease-in-out normal 2500ms forwards;

}

@keyframes thinkingWrong {
    30% {
        --angle: -60deg;
        --mainLG: rgba(255, 110, 151, 0.295);

        --mainRG: rgba(0, 0, 0, 0.349); 
        --secondaryRG: rgba(255, 255, 255, 0.075); 
        --mainCG: #FFB178;
        --secondaryCG: #E47321;

        --ellipseMain: 35%;
        --ellipseSecond: 30%;
        border: 2px solid #FFB178;
    }

    60%, 80%{
        --angle: -0deg;

        --accentLG: rgba(0, 0, 0, 0);
        --mainLG: rgba(255, 110, 151, 0.20);
        --secondaryLG: rgba(255, 255, 255, 0);
    
        --mainCG: #FF7878;
        --secondaryCG: #E42721;

        --mainRG: rgba(0, 0, 0, 0.185); 
        --secondaryRG: rgba(255, 255, 255, 0.253); 

        border: 2px solid #FF7878;
        --ellipseMain: 50%;
        --ellipseSecond: 46%;
        opacity: 0.7;
    }

    100% {
        --accentLG: #00000000;
        --mainLG: rgba(255, 110, 151, 0.20);
        --secondaryLG: rgba(255, 255, 255, 0);
    
        --mainCG: #FF7878;
        --secondaryCG: #E42721;

        --mainRG: rgba(0, 0, 0, 0.185); 
        --secondaryRG: rgba(255, 255, 255, 0.253); 

        border: 2px solid #FF7878;
        --ellipseSecond: 40%;
        --ellipseMain: 50%;
        opacity: 1;
    }
}

.thinkingWrong {
    --accentLG: #00000000;
    --mainLG: rgba(255, 110, 151, 0.20);
    --secondaryLG: rgba(255, 255, 255, 0);
    
    --mainCG: #FFA868;
    --secondaryCG: #FFBB89;

    --mainRG: rgba(0, 0, 0, 0.20); 
    --secondaryRG: rgb(255, 255, 255, 0.20); 

    --gradientSecondNb: 60%;
    --ellipseMain: 50%;
    --ellipseSecond: 46%;
    --borderColor: #FFB178; 

    animation: thinkingWrong ease-in-out normal 3000ms forwards;
}

@keyframes matching {
    0% {
        border: none;
    }

    30% {
        --mainCG: rgb(255, 186, 135);
        --secondaryCG: rgb(255, 166, 23);
        --ellipseMain: 40%;
        --ellipseSecond: 30%;
        border: none;
    }

    100% {
        --accentLG: rgba(0, 0, 0, 0, 0.20);
        --mainLG: rgba(255, 110, 151, 0.20);
        --secondaryLG: rgba(255, 255, 255, 0.37);

        --mainCG: rgba(255, 185, 135, 0.24);
        --secondaryCG: rgba(255, 166, 23, 1);

        --mainRG: rgba(0, 0, 0, 0.20); 
        --secondaryRG: rgba(255, 194, 141, 0.20);

        --ellipseMain: 60%;
        --ellipseSecond: 40%;

        border: none;

        box-shadow: 
            rgba(255, 106, 0, 0.40)  0px 1px 2px, 
            rgba(255, 106, 0, 0.40)  -2px 0px 30px,
            rgba(255, 106, 0, 0.40)  0px 0px 16px,
            rgba(255, 106, 0, 0.40)  -11px -11px 16px, 
            rgba(255, 106, 0, 0.40)  16px 11px 25px, 
            rgba(255, 106, 0, 0.40)  0px 10px 20px;
    }
} 

.matching {
    --accentLG: #00000000;
    --mainLG: rgba(255, 110, 151, 0.20);
    --secondaryLG: rgba(255, 255, 255, 0.2);

    --mainCG: rgb(255, 143, 61);
    --secondaryCG: rgb(255, 166, 23);

    --mainRG: rgba(0, 0, 0, 0.20); 
    --secondaryRG: rgb(255, 255, 255, 0.20);
    --borderColor:  rgb(255, 206, 71);

    --gradientSecondNb: 60%;
    --ellipseMain: 50%;
    --ellipseSecond: 46%;

    animation: matching 2500ms forwards;
} 

/* Matching modal*/

.matchingModalTitle {
    font-family: "Prata";
    font-size: 20px;
    text-transform: uppercase;
}

.matchingModalTitle_decoration {
    text-decoration: underline;
}

p {
    font-family: "paperMono";
    font-size: 12px;
    text-align: center;
}

.matchingModalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    position: relative;
    padding: 30px 100px;
    height: auto;
    width: auto;
}

.matchingModalWrapper::before {
    content: "";
    border-radius: 6px;
    background: linear-gradient(to bottom right, #550E6C 0%, #DA8445 48%, #DA8445 61%, #550E6C 100%) border-box;
    mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
    mask-composite: exclude;

    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 1px solid #550E6C;
    border-bottom: 1px solid #550E6C;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    pointer-events: none;
}

.dateRecapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.matchingModalPod {
    max-width: 70%;
    aspect-ratio: 2/3;
    height: auto;
}

.dateRecapSpace { 
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.titleUnderline {
    text-decoration: underline;
}

.podWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* opacity button -- enter pod */
.removeBttn {
    transition: opacity 0.3s ease-in-out;
}
.opacityBttn {
    opacity: 0.5;
}