@font-face {
    font-family: "paperMono";
    src: url("assets/fonts/PaperMono-Regular.otf");
}

:root {
    --main-color: #FFDFC8;
    --main-linear-gradient: linear-gradient(to bottom right, #550E6C 0%, #DA8445 48%, #DA8445 61%, #550E6C 100%) 1;
    --main-font-bg: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--main-color);
    border-left: 30px solid;
    border-image: var(--main-linear-gradient);
    border-right: 30px solid;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.logoWrapper {
    background-color: #FF8F3D;
    border-radius: 10px;
    padding: 12px;
}

a {
    font-family: "paperMono";
    text-transform: uppercase;
    font-size: 20px;
}

.pod, .off {
    width: 190px;
    height: 340px;
    border-radius: 152px 152px 52px 52px;
    background-color:  #444444;
    background-image: 
        linear-gradient(var(--accentLG) 0%, var(--mainLG) 46%, var(--secondaryLG) 100%),
        radial-gradient(var(--mainRG) 60%, var(--secondaryRG) 95%),
        conic-gradient(from 180deg, var(--mainCG) 0%, var(--secondaryCG) 100%); 
    border: 2px solid #7D7D7D;
}

.dialogue, .multipleChoiceInput, input {
    font-family: "paperMono";
    font-size: 15px;
}

input, .multipleChoiceInput, .selectedAnswer {
    background-color: var(--main-font-bg);
    padding: 10px;
    border-radius: 10px;
    color: #F9DAC3;
    text-align: center;
    outline: thin;
}

.selectedAnswer {
    background-color: #7b288e;
}

.theme_alt {
    background-color: #58116A;
    color: #FB9334;
}

.multipleChoiceInputWrapper {
    display: flex;
    gap: 10px;
}
@property --accentLG {
    syntax: '<color>';
    initial-value:#00000000; 
    inherits: true;
}

@property --mainLG {
    syntax: '<color>';
    initial-value: #ff6e9744;
    inherits: true;
}

@property --secondaryLG {
    syntax: '<color>';
    initial-value: #ffffff46;
    inherits: true; 
}

@property --mainRG {
    syntax: '<color>';
    initial-value: #00000000;
    inherits: true; 
}

@property --secondaryRG {
    syntax: '<color>';
    initial-value: #ffffff3f;
    inherits: true; 
}

@property --mainCG {
    syntax: '<color>';
    initial-value: #212121;
    inherits: true; 
}

@property --secondaryCG {
    syntax: '<color>';
    initial-value: #4d4d4d;
    inherits: true; 
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

@property --integer {
    syntax: '<number>';
    initial-value: 1;
    inherits: true;
}

@keyframes joining {
    40% {
        --mainRG: #00000014;
        --secondaryRG: #ffffff00;
    }

    50%, 100% {
        --angle: 60deg;
        --mainCG: #fbfbfb;
        --secondaryCG: #cabcbca3;
        --secondaryLG: #ffffffcc;
    }
}

.joining {
    --accentLG: #00000000;
    --mainLG: #ff6e9742;
    --secondaryLG: #ffffff6e;
    --mainRG: #0000001b; 
    --secondaryRG: #ffffff00;
    --secondaryCG: #988d8d;
    --mainCG: #fbfbfb9d;

    background:
        linear-gradient(var(--accentLG) 0%, var(--mainLG), var(--secondaryLG)),
        radial-gradient(var(--mainRG) 10%, var(--secondaryRG) 60%),
        conic-gradient(from 180deg, var(--mainCG), var(--secondaryCG));
    overflow: hidden;
    position: relative;

    border: 2px solid #fbfbfbe0;
    animation: joining 3000ms infinite;
}

.joining::after {
    content: "";
    transform: rotate(var(--angle));
    background-image: radial-gradient(var(--mainRG) 10%, var(--secondaryRG) 60%);
    position: absolute;
    width: 100%;
    height: 100%;
} 

@keyframes presence {
    0% {
        box-shadow: 0px 0px 20px #6f1468f7;
    }
    100% {
        box-shadow: 0px 0px 40px #6f1468f7;
    }
}

.presence {
    background-image: 
        linear-gradient(#0000000f, #ff6e9747, #ffffff00), 
        radial-gradient(#00000000 60%, #ffffff8a 104%), 
        conic-gradient(from 180deg, #ff8f3d, #e47321);
    border: 2px solid #ffb078f9;
    position: relative;
    animation: presence 3000ms ease-in-out forwards;
} 

@keyframes talking { 
    20% {
        --mainCG: #ff8f3d;
        --secondaryCG: #e47321;
        --accentLG: #00000000;
        --mainLG: #ff6e97;
        --secondaryLG: #ffffff;
    }

    40%,100% {
        --mainRG: #dd57579c;
        --scale: 1.5;
    }
}
.talking {
    --accentLG: #00000000;
    --mainLG: #ff6e97;
    --secondaryLG: #ffffff;
    --mainRG: #d82fe196; 
    --secondaryRG: #fefefe00;
    --secondaryCG: #e47321d1;
    --mainCG: #ff8f3dc2;

    background-image: 
        conic-gradient(from 180deg, var(--mainCG), var(--secondaryCG)), 
        radial-gradient(var(--mainRG) 60%, var(--secondaryRG) 100%), 
        linear-gradient(var(--accentLG), var(--mainLG), var(--secondaryLG));
    border: 2px solid #ffb078f9;
    overflow: hidden;
    position: relative;
    animation: talking 3000ms ease-in-out infinite;
} 

.talking::after {
    content: "";
    transform: scale(var(--integer));
    background-image: 
        radial-gradient(var(--mainRG) 13%, var(--secondaryRG) 60%);
    position: absolute;
    width: 100%;
    height: 100%;
}  

@keyframes thinking {
    30%, 100% {
        --angle: -60deg;
        --mainRG: #514c4c49; 
        --secondaryRG: #f3f3f300;        
    }
}

@keyframes thinkingRight {
    50%, 100% {
        --accentLG: #00000000;
        --mainLG: #ff6e974a;
        --secondaryLG: #ffffff1a;

        --mainRG: #0000001a;
        --secondaryRG: #ffffff00;

        --mainCG: #d0ff78;
        --secondaryCG: #7ce421cf;

        border: 2px solid #D0FF78;
    }
}

@keyframes thinkingWrong {
    50% {
        --mainRG: #00000040;
        --secondaryRG: #ffffff00;
    } 

    90%,100% {    
        --mainCG: #ff7a7a;
        --secondaryCG: #e42721;   
         border: 2px solid #FF7878;
    }
} 

.thinking, .thinkingRight {
    --accentLG: #00000000;
    --mainLG: #ff6e9740;
    --secondaryLG: #ffffff00;
    
    --mainRG: #514c4c3b; 
    --secondaryRG: #514c4c00; 

    --mainCG: hsl(25, 97%, 55%);

    --secondaryCG: #f9a467;
    --angle: 0deg;

    background-image:
        linear-gradient(var(--accentLG) 3%, var(--mainLG), var(--secondaryLG)),
        conic-gradient(from 180deg, var(--mainCG), var(--secondaryCG));

    border: 2px solid #ffb078bd;
    position: relative;
    overflow: hidden;
    animation: thinkingRight 3500ms 3000ms linear forwards;
}

.thinking, .thinkingWrong {
    --accentLG: #00000000;
    --mainLG: #ff6e9740;
    --secondaryLG: #ffffff00;
    
    --mainRG: #514c4c3b; 
    --secondaryRG: #514c4c00; 

    --mainCG: hsl(25, 97%, 55%);

    --secondaryCG: #f9a467;
    --angle: 0deg;

    background-image:
        linear-gradient(var(--accentLG) 3%, var(--mainLG), var(--secondaryLG)),
        conic-gradient(from 180deg, var(--mainCG), var(--secondaryCG));

    border: 2px solid #ffb078bd;
    position: relative;
    overflow: hidden;
    animation: thinkingWrong 5000ms 3000ms  linear forwards;
}

.thinking::after {
    content: "";
    transform: rotate(var(--angle));
    background-image: 
        radial-gradient(var(--mainRG) 20%, var(--secondaryRG) 60%); 
    position: absolute;
    width: 100%;
    height: 100%; 
    animation: thinking 2500ms ease-in forwards;
} 

.thinkingRight::after {
    content: "";
    background-image: radial-gradient(var(--mainRG) 20%, var(--secondaryRG) 66%);
    position: absolute;
    width: 100%;
    height: 100%;
} 

.thinkingWrong::after {
    content: "";
    transform: rotate(var(--angle));
    background-image: radial-gradient(var(--mainRG) 10%, var(--secondaryRG) 61%);
    position: absolute;
    width: 100%;
    height: 100%;
}  

.matching {
    --accentLG: #0000001f;
    --mainLG: #ff6e9746;
    --secondaryLG: #ffffff77;
    --mainRG: #00000000; 
    --secondaryRG: #ffffff28;
    --secondaryCG: #FFA617;
    --mainCG: #FF8F3D;

    background-image:
        linear-gradient(var(--accentLG) 3%, var(--mainLG), var(--secondaryLG)),
        radial-gradient(var(--mainRG) 20%, var(--secondaryRG) 100%),  
        conic-gradient(from 180deg, var(--mainCG) 24%, var(--secondaryCG));

    animation: matching 2500ms 1 forwards;
    border: 2px solid #ffb078;
} 

@keyframes matching {
    50% {
        --accentLG: #00000025;  
        --mainLG: #ff6e973d;  
        --secondaryLG: #ffffff2c;  
        
        --mainRG: #00000000;
        --secondaryRG: #ffffff2d;

        --mainCG: #FFBA87;
        --secondaryCG: #ffa617;
    }

    80% {
        box-shadow: 0px 0px 10px #ff8f3d;
    }

    100% {
        --accentLG: #00000000;
        --mainLG: #ff6e9747;
        --secondaryLG: #ffffff2d;

        --mainRG: #0000000a;
        --secondaryRG: #ffc28dc2;

        --mainCG: #FFBA873D;
        --secondaryCG: #FFA617;
        box-shadow: 0px 0px 20px #ff8f3d;
    }
} 